@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Menu");
<div class="row" style="text-align:center">
    <h3>Управление справочниками</h3>
    <p>
        Для выбора справочника пройдите по определенной ссылке.
    </p>
</div>